<ion-header>
  <ion-toolbar>
    <ion-img src="/assets/img/camLogo.jpeg" class="mediana"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text>Puedes utilizar cualquiera de las tarjetas que se muestran a
          continuación.
        </ion-text>
        <ion-img src="/assets/img/american-express.jpeg" class="small"></ion-img>
        <ion-img src="/assets/img/discover.png" class="small"></ion-img>
        <ion-img src="/assets/img/mastercard.png" class="small"></ion-img>
        <ion-img src="/assets/img/visa.jpg" class="small"></ion-img>
      </ion-col>
    </ion-row>
    <form [formGroup]='formulario' (ngSumbit)="onSumnit(formulario.value)">
      <div formGroupName="grupoDatos">
        
      </div>
    </form>
  </ion-grid>
</ion-content>